body {
    margin: 60px auto;
    width: 70%;
     background: url("https://images.alphacoders.com/439/thumb-1920-439768.jpg") no-repeat top center;
    background-size: cover;
    background-attachment:fixed;
}
